:root { 
--red_900_05:#b40b0b; 
--red_900_04:#b60808; 
--red_900_07:#b31111; 
--blue_gray_100:#d9d9d9; 
--red_900_06:#bd1313; 
--red_900:#c51a1a; 
--gray_900:#161313; 
--red_800:#c12121; 
--black_900_3f:#0000003f; 
--red_900_01:#cd1414; 
--green_600:#27ae60; 
--indigo_A100_33:#7a7cff33; 
--red_900_03:#a61313; 
--red_900_02:#bd0f0f; 
--red_800_01:#c82424; 
--black_900:#000000; 
--indigo_A700_33:#304ffe33; 
--white_A700:#ffffff; 
}